@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
    color-scheme: light dark;
    --navbar-height: max(60px, calc(60px + env(safe-area-inset-bottom)));
    --block-height: 80px;
}

@media (prefers-color-scheme: light) {
    :root {
        --page-bg-color: #E6E6F0;
        --block-bg-color: #FFFFFF;
        --input-bg-color: #E6E6F0;
        --major-text-color: #1E1E28;
        --minor-text-color: #BEBEC8;
        --block-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
        --block-border: 1px solid var(--page-bg-color);
        --block-shadow-color: rgba(0, 0, 0, 0.1);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --page-bg-color: #0b0b0b;
        --block-bg-color: #1b1c1e;
        --input-bg-color: #0b0b0b;
        --major-text-color: #ffffff;
        --minor-text-color: #a5a5a5;
        --block-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
        --block-border: 1px solid var(--page-bg-color);
        --block-shadow-color: rgba(0, 0, 0, 0.5);
    }
}

html {
    /*height: -webkit-fill-available;*/
    display: block;
    background: var(--block-bg-color);
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--major-text-color);
	background: var(--block-bg-color);
    /*height: -webkit-fill-available;*/
	display: flex;
    flex-direction: column;
    
    position: fixed;
    inset: 0px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    user-select: none;
    touch-action: none;
}

::-webkit-scrollbar { width: 0; }

.navbar, .subbar {
    box-sizing: border-box;
    position: fixed;
    height: var(--navbar-height);
    width: 100%;
    z-index: 100;    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: var(--block-bg-color);
    padding: 5px;
    margin: 0;
    padding-left: max(5px, env(safe-area-inset-left));
    padding-right: max(5px, env(safe-area-inset-right));
}

.navbar {    
    bottom: 0;
    left: 0;
    justify-content: space-around;
    border-top: var(--block-border);
    box-shadow: 0 -5px 5px var(--block-shadow-color);
    border-radius: 10px 10px 0px 0px;
    margin-bottom: max(0, env(safe-area-inset-bottom));
}

.subbar {
    top: 0;
    left: 0;
    justify-content: space-between;
    border-bottom: var(--block-border);
    box-shadow: 0 5px 5px var(--block-shadow-color);
    border-radius: 0px 0px 10px 10px;
    margin-top: max(0, env(safe-area-inset-top));
}

.subbar div h1 {
    width: 100%;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

main {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    /*height: -webkit-fill-available;*/
    max-width: 1030px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    align-self: center;
    justify-content: center;
    gap: 10px;

    margin-top: max(var(--navbar-height), calc(env(safe-area-inset-top) + var(--navbar-height)));
    margin-bottom: max(var(--navbar-height), calc(env(safe-area-inset-top) + var(--navbar-height)));
    padding-top: 10px;
    padding-bottom: calc(var(--navbar-height) + 10px);    
    padding-left: max(10px, env(safe-area-inset-left));
    padding-right: max(10px, env(safe-area-inset-right));
}

.block {
    position: relative;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background: var(--block-bg-color);
    border: var(--block-border);
    box-shadow: var(--block-shadow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block-title {
    color: var(--minor-text-color);
    font-weight: bold;
    text-align: center;
}

select, .block-text, .block-label, .block-number, .block-calc {
    box-sizing: border-box;
    min-height: 1.2em;
    padding: 5px;
    background-color: var(--input-bg-color);;
    box-shadow: inset var(--block-shadow);
    border: var(--block-border);
    border-radius: 10px;
    overflow: hidden;
}

.block-label, .block-number, .block-calc {
    text-align: center;
}

.image-container {
    flex-shrink: 0;
    height: 100%;
    flex-wrap: nowrap;
    text-align: center;
    background-color: var(--page-bg-color);
    box-shadow: inset var(--block-shadow);
    border: var(--block-border);
    border-radius: 10px;
    overflow: hidden;
}

img, svg {
    max-height: 100%;
    width: auto;
}

.navbar div, .subbar div {
    box-sizing: border-box;
    height: 100%;
    width: auto;
}

.minor-button {
    box-sizing: border-box;
    border-radius: 90px;
    color: var(--minor-text-color);
    cursor: pointer;
}

.minor-button:hover {
    color: var(--major-text-color);
}

.bar-title {
    min-width: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    user-select: none;
}

.bar-button {
    border-radius: 90px;
    padding: 15px;
    cursor: pointer;
}

.bar-button:hover {
    box-shadow: inset var(--block-shadow);
}

.bar-button a {
    color: var(--major-text-color);
}

.roll-button {
    box-sizing: border-box;
    position: fixed; 
    bottom: calc(var(--navbar-height) + 10px);
    right: 10px; 
    z-index: 100;
    width: calc(var(--navbar-height) - 10px);
    height: calc(var(--navbar-height) - 10px);
    border-radius: 90px;
    padding: 10px;
    cursor: pointer;
    background-color: var(--block-bg-color);
    box-shadow: var(--block-shadow);
    border: var(--block-border);
}

.roll-button:hover {
    box-shadow: inset var(--block-shadow);
}

.card-block {
    position: relative;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    height: var(--block-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: var(--block-bg-color);
    border: var(--block-border);
    box-shadow: var(--block-shadow);
    border-radius: 10px;
    cursor: pointer;
}

.card-block:hover {
    box-shadow: inset var(--block-shadow);
    border: 0;
}

.character-avatar {
    aspect-ratio: 1/1;
    object-fit: cover;
    scale: 1.2;
}

.card-text {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    width: 100%;
    height: 2.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    text-align: start;
}

.card-template {
    font-size: 0.8em;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
    color: var(--minor-text-color);
    text-align: start;
}

.block-text {
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    box-sizing: border-box;
    white-space: pre;
}

.custom-textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

input, .custom-textarea {
    border: var(--block-border);
    background: var(--block-bg-color);
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

input:focus, .custom-textarea:focus, select:focus {
    outline: none;
}

input[type="text"], .custom-textarea {
    vertical-align: middle;
    background-color: var(--input-bg-color);
    box-shadow: inset var(--block-shadow);
    border-radius: 10px;
}

input[type="button"], input[type="submit"] {
    color: var(--minor-text-color);
    text-align: center;
    vertical-align: middle;
    box-shadow: var(--block-shadow);
    border-radius: 10px;
    cursor: pointer;
}

input[type="button"]:hover, input[type="submit"]:hover {
    box-shadow: inset var(--block-shadow);
}

dialog {
    box-sizing: border-box;
    color: var(--minor-text-color);
    border: var(--block-border);
    background: var(--block-bg-color);
    padding: 10px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: var(--block-shadow);
    max-width: 1000px;
    width: calc(100vw - 20px);
}

dialog::backdrop {
    width: 100%;
    background-color: rgb(0 0 0 / 0.5);
    backdrop-filter: blur(5px);
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 19em;
}

h3 {
    font-size: 18em;
}

h4 {
    font-size: 17em;
}

h5 {
    font-size: 16em;
}

table {
    width: 100%;
    height: auto;
}