@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
    color-scheme: light dark;
    --block-height: 80px;
    --blue-color: #0378fc;
    --green-color: #39db52;
    --yellow-color: #fcd629;
    --red-color: #fc3226;
    --major-ui-size: 28px;
    --minor-ui-size: 14px;
    --major-ui-padding: 10px;
    --minor-ui-padding: 5px;
    --navbar-height: calc(var(--major-ui-padding) * 2 + var(--minor-ui-padding) * 2 + var(--major-ui-size));
}

@media (prefers-color-scheme: light) {
    :root {
        --page-bg-color: #eff2f7;
        --block-bg-color: rgb(255, 255, 255);
        --input-bg-color: rgba(176, 189, 214, 0.2);
        --major-text-color: rgb(47, 55, 71);
        --minor-text-color: rgba(71, 90, 128, 0.5);
        --block-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
        --block-border: 1px solid var(--page-bg-color);
        --block-shadow-color: rgba(0, 0, 0, 0.1);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --page-bg-color: #111112;
        --block-bg-color: #242424;
        --input-bg-color: #111112;
        --major-text-color: #fff;
        --minor-text-color: rgba(255, 255, 255, .75);
        --block-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5);
        --block-border: 1px solid var(--page-bg-color);
        --block-shadow-color: rgba(0, 0, 0, 0.5);
    }
}

html {
    /*height: -webkit-fill-available;*/
    display: block;
    background: var(--block-bg-color);
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--major-text-color);
	background: var(--block-bg-color);
	display: flex;
    flex-direction: column;
    
    position: fixed;
    inset: 0px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    user-select: none;
    touch-action: none;
}

*:focus { outline: none; }
::-webkit-scrollbar { width: 0; }

.nav-wrapper, .menu-wrapper {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: var(--block-bg-color);
    margin: 0;
    padding: 0;
    padding-left: max(5px, env(safe-area-inset-left));
    padding-right: max(5px, env(safe-area-inset-right));
}

.nav-wrapper {    
    bottom: 0;
    left: 0;
    border-top: var(--block-border);
    box-shadow: 0px -2px 3px 1px var(--block-shadow-color);
    border-radius: 10px 10px 0px 0px;
    /*padding-bottom: env(safe-area-inset-bottom);*/
}

.menu-wrapper {
    top: 0;
    left: 0;
    border-bottom: var(--block-border);
    box-shadow: 0px 2px 3px 1px var(--block-shadow-color);
    border-radius: 0px 0px 10px 10px;
    padding-top: env(safe-area-inset-top);
}

nav, menu {
    box-sizing: border-box;
    /*height: 100%;*/
    width: clamp(200px, 100%, 1200px);
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    padding: var(--minor-ui-padding);
    gap: 10px;
}

nav {
    justify-content: space-around;
    align-items: flex-start;
}

menu {
    justify-content: space-between;
    align-items: flex-end;
}

menu div h1 {
    width: 100%;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

.main-wrapper {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: var(--page-bg-color);
}

main {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: clamp(200px, 100%, 1200px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    align-self: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
    padding-top: calc(var(--navbar-height) + env(safe-area-inset-top) + 10px);
    padding-bottom: calc(var(--navbar-height) * 2 + env(safe-area-inset-bottom) + 20px);
    padding-left: max(10px, env(safe-area-inset-left));
    padding-right: max(10px, env(safe-area-inset-right));
}

.block {
    position: relative;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background: var(--block-bg-color);
    border: var(--block-border);
    box-shadow: var(--block-shadow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block-title {
    color: var(--minor-text-color);
    font-weight: bold;
    text-align: center;
}

select, .block-text, .block-label, .block-number, .block-calc, .custom-textarea {
    box-sizing: border-box;
    min-height: 1.2em;
    padding: 5px;
    background-color: var(--input-bg-color);
    border: var(--block-border);
    border-radius: 10px;
    overflow: hidden;
}

.block-label, .block-number, .block-calc {
    text-align: center;
}

.block-text {
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    white-space: pre;
}

.custom-textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.block-text:focus, .block-number:focus, .block-calc:focus, .custom-textarea:focus {    
    border-bottom: 2px solid var(--minor-text-color);
}

.image-container {
    flex-shrink: 0;
    height: 100%;
    flex-wrap: nowrap;
    text-align: center;
    background-color: var(--page-bg-color);
    border: var(--block-border);
    border-radius: 10px;
    overflow: hidden;
}

img {
    max-height: 100%;
    width: auto;
}

.minor-button {
    box-sizing: border-box;
    border-radius: 90px;
    color: var(--minor-text-color);
    cursor: pointer;
}

.minor-button:hover {
    color: var(--major-text-color);
}

.bar-title {
    min-width: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    user-select: none;
}

.bar-button {
    box-sizing: border-box;
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.bar-button svg {
    height: var(--major-ui-size);
    width: auto;
    color: var(--minor-text-color);
}

.bar-button svg:hover, .bar-button.currentPage svg {
    color: var(--major-text-color);
}

.roll-button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: fixed;    
    height: fit-content;
    bottom: calc(var(--navbar-height) + 10px);
    right: 10px; 
    z-index: 100;
    border-radius: 90px;
    padding: 10px;
    cursor: pointer;
    background-color: var(--block-bg-color);
    box-shadow: var(--block-shadow);
    border: var(--block-border);
}

.roll-button:hover {
    box-shadow: inset var(--block-shadow);
    border: 1px solid var(--page-bg-color);
}

.roll-button svg {
    height: calc(var(--major-ui-size) * 1.2);
    width: auto;
    color: var(--minor-text-color);
}

.roll-button svg:hover {
    color: var(--major-text-color);
}

.card-block {
    position: relative;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    width: clamp(200px, 100%, 585px);
    height: var(--block-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: var(--block-bg-color);
    border: var(--block-border);
    box-shadow: var(--block-shadow);
    border-radius: 10px;
    cursor: pointer;
}

.card-block:hover {
    box-shadow: inset var(--block-shadow);
    border: 1px solid var(--page-bg-color);
}

.character-avatar {
    aspect-ratio: 1/1;
    object-fit: cover;
    scale: 1.2;
}

.card-text {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    width: 100%;
    height: 2.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    text-align: start;
}

.card-template {
    font-size: 0.8em;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
    color: var(--minor-text-color);
    text-align: start;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: var(--block-border);
    background: var(--block-bg-color);
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

input[type="text"]:focus {
    border-bottom: 2px solid var(--minor-text-color);
}

input[type="text"], .custom-textarea {
    vertical-align: middle;
    background-color: var(--input-bg-color);
    border-radius: 10px;
}

input[type="button"], input[type="submit"] {
    color: var(--minor-text-color);
    text-align: center;
    vertical-align: middle;
    box-shadow: var(--block-shadow);
    border-radius: 10px;
    cursor: pointer;
}

input[type="button"]:hover, input[type="submit"]:hover {
    box-shadow: inset var(--block-shadow);
    border: 1px solid var(--page-bg-color);
}

::placeholder {
    color: var(--minor-text-color);
}

dialog {
    box-sizing: border-box;
    color: var(--minor-text-color);
    border: var(--block-border);
    background: var(--block-bg-color);
    padding: 10px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: var(--block-shadow);
    max-width: 1000px;
    width: calc(100vw - 20px);
}

dialog::backdrop {
    width: 100%;
    background-color: rgb(0 0 0 / 0.5);
    backdrop-filter: blur(5px);
}

h1 {
    font-size: calc(var(--major-ui-size) - 10px);
}

h2 {
    font-size: calc(var(--major-ui-size) - 12px);
}

h3 {
    font-size: calc(var(--major-ui-size) - 14px);
}

h4 {
    font-size: calc(var(--major-ui-size) - 16px);
}

h5 {
    font-size: calc(var(--major-ui-size) - 18px);
}

h6 {
    font-size: calc(var(--major-ui-size) - 20px);
}

table {
    width: 100%;
    height: auto;
}